@import url(preflight.css);
@import url(tokens.css);
@import url(colors.module.css);
@import url(theme.dark.css);

/* general styling */

body {
  max-width: 100vw;
  overflow-x: hidden;
}

@font-face {
  font-family: "DT Nightingale";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/assets/woff2/nightingale/DTNightingale-Light.otf")
      format("opentype"),
    url("/assets/woff2/nightingale/DTNightingale-Light.woff2") format("woff2");
}

@supports not (font-variation-settings: normal) {
  @font-face {
    font-family: "BDO Grotesk";
    font-style: normal;
    font-display: swap;
    src: url("/assets/woff2/bdogrotesk/BDOGrotesk-Regular.otf")
      format("opentype");
  }
  @font-face {
    font-family: "BDO Grotesk";
    font-style: oblique;
    font-display: swap;
    src: url("/assets/woff2/bdogrotesk/BDOGrotesk-DemiBold.otf")
      format("opentype");
  }
}

@supports (font-variation-settings: normal) {
  @font-face {
    font-family: "BDO Grotesk";
    font-display: swap;
    src: url("/assets/woff2/bdogrotesk/BDOGrotesk-VF.woff2")
        format("woff2 supports variations"),
      url("/assets/woff2/bdogrotesk/BDOGrotesk-VF.woff2")
        format("woff2-variations");
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p, .normal {
  color: var(--md-sys-color-on-background);
  font-family: "BDO Grotesk", sans-serif;
  font-size: 1.5rem;
}

h1,
.font-nightingale {
  font-family: "DT Nightingale", serif;
}

/* navigation styling */

.uninav {
  position: fixed;
  z-index: 10;
  padding: 2.5rem;

  min-width: 100vw;
  min-height: 100vh;
  min-height: 100svh;

  justify-self: end;
  align-self: flex-start;
  text-align: end;
  
  mix-blend-mode: difference;
  pointer-events: none;  /* allow to click thorugh overlay */
}

.uninav a {
  pointer-events: auto;  /* allow clicking the nav items though */
}

/* hero section styling */

.hero-common {
  min-height: 100vh;
  min-height: 100svh;
  max-height: 100vh;
  max-height: 100svh;
  min-width: 100vw;
  max-width: 100vw;
}

.hero {
  z-index: -4;
}

#hero-foreground {
  position: fixed;
  z-index: -1;
  display: flex;
  mix-blend-mode: difference;
}

#hero-foreground h1 {
  /* logo */
  /* color: #f99229; */
  line-height: 0.96;
  font-size: 9rem;
  place-self: end;
  padding: 2rem 2rem 1.5rem 2rem;
}

@media (max-width: 768px) {
  #hero-foreground h1 {
    font-size: 6rem;
  }
}

@media (max-width: 400px) {
  #hero-foreground h1 {
    font-size: 5rem;
  }
}

#hero-middleground {
  position: fixed;
  z-index: -2;
}

#hero-middleground .hand {
  height: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#logo-heart-path {
  opacity: 80%;
  mix-blend-mode: light;
}

#logo-hand-path {
  opacity: 80%;
  /* mix-blend-mode: light; */
}

#hero-background {
  position: fixed;
  z-index: -3;
  background-image: url("/assets/webp/hero.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  display: flex;
  justify-content: center;
  align-items: center;
}

#description {
  position: absolute;
  width: 32rem;
  aspect-ratio: 1/1;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

  animation: spin 60s linear infinite;
  mix-blend-mode: difference;
}

/* @media (max-width: 768px) {
  #description {
    width: 24rem;
  }
}

@media (max-width: 400px) {
  #description {
    width: 20rem;
  }
} */

#description-text {
  position: absolute;
  width: 100%;
  height: 100%;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

#description-text span {
  position: absolute;
  left: 50%;
  transform-origin: 0 16rem;
  font-size: 2rem;
}

/* @media (max-width: 768px) {
  #description-text span {
    transform-origin: 0 12rem;
  }
}

@media (max-width: 400px) {
  #description-text span {
    transform-origin: 0 10rem;
    font-size: 1.2rem;
  }
} */

/* about section styling */

/* works section styling */

/* track record styling */
