@import url(preflight.css);
@import url(tokens.css);
@import url(colors.module.css);
@import url(theme.dark.css);

/* general styling */

body {
  max-width: 100vw;
  overflow-x: hidden;
  /* scroll-behavior: smooth; */
}

@font-face {
  font-family: "DT Nightingale";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../otf/nightingale/DTNightingale-Light.otf") format("opentype"),
    url("../woff2/nightingale/DTNightingale-Light.woff2") format("woff2");
}

@supports not (font-variation-settings: normal) {
  @font-face {
    font-family: "BDO Grotesk";
    font-style: normal;
    font-display: swap;
    src: url("../otf/bdogrotesk/BDOGrotesk-Regular.otf") format("opentype");
  }
  @font-face {
    font-family: "BDO Grotesk";
    font-style: oblique;
    font-display: swap;
    src: url("../otf/bdogrotesk/BDOGrotesk-DemiBold.otf") format("opentype");
  }
}

@supports (font-variation-settings: normal) {
  @font-face {
    font-family: "BDO Grotesk";
    font-display: swap;
    src: url("../woff2/bdogrotesk/BDOGrotesk-VF.woff2")
        format("woff2 supports variations"),
      url("../woff2/bdogrotesk/BDOGrotesk-VF.woff2") format("woff2-variations");
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
.normal {
  color: var(--md-sys-color-on-background);
  font-family: "BDO Grotesk", sans-serif;
  font-size: 1.5rem;
}

h1,
h2,
.font-nightingale {
  font-family: "DT Nightingale", serif;
}

h2 {
  font-size: 6rem;
  line-height: 1;
}

@media (max-width: 1024px) {
  h2 {
    font-size: 5.5rem;
  }
}

@media (max-width: 768px) {
  h2 {
    font-size: 5rem;
  }
}

@media (max-width: 650px) {
  h2 {
    font-size: 4rem;
  }
}

@media (max-width: 500px) {
  h2 {
    font-size: 4.5rem;
  }
}

/* navigation styling */

.uninav {
  position: sticky;
  top: 0;
  z-index: 100;
  min-width: 100vw;
  height: 0px;
  text-align: end;
  mix-blend-mode: difference;
  pointer-events: none; /* allow to click thorugh overlay */
}

.uninav nav {
  padding: 2rem;
}

.uninav a {
  pointer-events: initial; /* allow clicking the nav items though */
}

/* hero section styling */

.hero-common {
  min-height: 100vh;
  min-height: 100svh;
  max-height: 100vh;
  max-height: 100svh;
  min-width: 100vw;
  max-width: 100vw;
  overflow: hidden;
}

.hero {
  z-index: -4;
}

#hero-foreground {
  position: fixed;
  z-index: -1;
  display: flex;
  mix-blend-mode: difference;
}

#hero-foreground h1 {
  line-height: 0.96;
  font-size: 13rem;
  place-self: end;
  padding: 2rem 2rem 1.5rem 2rem;
}

@media (max-width: 1024px) {
  #hero-foreground h1 {
    font-size: 9rem;
  }
}

@media (max-width: 768px) {
  #hero-foreground h1 {
    font-size: 6rem;
  }
}

@media (max-width: 400px) {
  #hero-foreground h1 {
    font-size: 5rem;
  }
}

#hero-middleground {
  position: fixed;
  z-index: -2;
}

#hero-middleground .hand {
  height: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#logo-heart-path {
  opacity: 80%;
  mix-blend-mode: multiply;
}

#logo-hand-path {
  opacity: 90%;
}

#hero-background {
  position: fixed;
  z-index: -3;
  background-image: url("../webp/hero.webp");
  background-size: cover;
  background-position: center;

  display: flex;
  justify-content: center;
  align-items: center;
}

#description {
  position: absolute;
  width: 32rem;
  aspect-ratio: 1/1;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

  animation: spin 60s linear infinite;
  mix-blend-mode: difference;
}

#description-text {
  position: absolute;
  width: 100%;
  height: 100%;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

#description-text span {
  position: absolute;
  left: 50%;
  transform-origin: 0 16rem;
  font-size: 2rem;
}

/* about section styling */

#about-intro-text {
  width: 90%;
  z-index: 10;
  position: sticky;
  top: 0;
  padding: 2rem;
}

#about-intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#about-body {
  padding: 2rem;
  display: grid;
  justify-items: center;
}

#about-intro-polaroids {
  overflow: hidden;
}

.polaroid {
  width: 50%;
}

#polaroid-krystall {
  transform: translate(-5%, 20%) rotate(13deg);
}

#polaroid-bahl {
  transform: translate(110%, -25%) rotate(-17deg);
}

#about-body > * {
  margin-top: 2rem;
}

/* works section styling */

#works {
  padding: 2rem;
  min-height: 100vh;
  margin-top: 2.5rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#works > * {
  width: 100%;
}

#works-intro {
  padding-bottom: 10rem;
  width: 85% !important;
}

#works-container section {
  padding-top: 1.75rem;
  padding-bottom: 1.75rem;
  border-color: var(--md-sys-color-outline);
  border-top-width: 2px;
}

#works-container section:last-child {
  border-color: var(--md-sys-color-outline);
  border-bottom-width: 1.5px;
}

.work {
  display: flex;
  flex-wrap: wrap;
}

.work-title {
  min-width: 50%;
  max-width: 50%;
  padding-right: 20%;
}

@media (max-width: 800px) {
  .work-title {
    min-width: 100%;
    max-width: 100%;
    padding-right: 0;
  }
}

.work-title h3 {
  font-size: 2.25rem;
  line-height: 2.5rem;
  padding-bottom: 1rem;
}

@media (max-width: 800px) {
  .work-title {
    font-size: 2rem;
    line-height: 2rem;
  }
}

.work-writeup {
  min-width: 50%;
  max-width: 50%;
  padding-right: 20%;
}

@media (max-width: 800px) {
  .work-writeup {
    min-width: 100%;
    max-width: 100%;
    padding-right: 0;
  }
}

.work-images {
  margin-top: 2rem;
  max-height: 70vh;

  display: flex;
  flex-direction: row;
  overflow-x: scroll;
}

.work-images > * {
  min-width: min-content;
  height: 100%;
  border-radius: 1rem;
}

.work-images > :not([hidden]) ~ :not([hidden]) {
  margin-right: calc(1rem * 0);
  margin-left: calc(1rem * 1);
}

/* contact section styling */

#contact {
  padding: 2rem;
  padding-top: 2.5rem;
}

#contact h2 {
  margin-left: 7.5%;
  margin-right: 7.5%;
  text-align: center;
}

#contact-intro {
  z-index: 10;
  padding-bottom: 2rem;
}

#contact-card {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#contact-card svg {
  height: 70vh;
  max-width: 60vw;
  object-fit: contain;
}

#contact-text {
  padding-top: 2rem;
  padding-bottom: 1rem;
  text-align: center;
}
